:root {
    --primary-bg-color: #f4f4f4;
    --text-color: #ffa4a4;
    --main-bg-color: #ffa4a4;
    --main-text-color: #fff;
    --main-btn-bg-color: #ff4848;
  }
  
  body,
  h1,
  p,
  ul {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Arial", sans-serif;
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .container {
    max-width: 1000px;
    width: 100%;
    padding: 10px;
  }
  
  header {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    padding: 5px 0;
    text-align: center;
    width: 100%;
  }
  
  nav {
    margin-top: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: var(--text-color);
  }
  
  .media-player {
    width: 100%;
    margin: 0 auto;
  }
  
  .media-player video {
    max-width: 100%;
  }
  
  .custom-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 10px;
    width: 100%;
  }
  
  .custom-controls button {
    background-color: var(--main-btn-bg-color);
    color: var(--main-text-color);
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  
  .progress-bar {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    margin-top: 10px;
    overflow: hidden;
  }
  
  .progress-bar span {
    display: block;
    height: 100%;
    background-color: var(--main-bg-color);
    width: 0;
    transition: width 0.3s ease;
  }
  
  footer {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    text-align: center;
    padding: 10px 0;
    width: 100%;
  }

  h1 {
    color: red;
    font-family: "Grey Qo", cursive;
    font-size: 4rem;
    font-weight: 400 bold;
    font-style: normal;
    text-align: center; 
}